.msgbox {
    position: absolute;
    z-index: 1233;
    width: 100vw;
    height: 100vh;
    background-color: #00000049;
    display: flex;
    align-items: center;
    justify-content: center;
    &-content {
        width: 200px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-text {
        width: 80%;
        text-align: center;
        margin: 10px 0;
    }
}